[submodule "core/rs/sqlite-rs-embedded"]
  path = core/rs/sqlite-rs-embedded
	url = https://github.com/vlcn-io/sqlite-rs-embedded.git

[submodule ".refs/zig-sqlite"]
	path = .refs/zig-sqlite
	url = git@github.com:vrischmann/zig-sqlite.git
[submodule ".refs/effect"]
	path = .refs/effect
	url = git@github.com:Effect-TS/effect.git
[submodule ".refs/effect-smol"]
	path = .refs/effect-smol
	url = git@github.com:Effect-TS/effect-smol.git
[submodule "effect-native"]
	path = effect-native
	url = git@github.com:effect-native/effect-native.git
	branch = cr
