.DS_Store
out.db
.vscode
a.out
dist/
bench/
.ipynb_checkpoints/
*.db
__pycache__/
node_modules/
build/
tsconfig.tsbuildinfo
.turbo/
target/
.zig-cache/
.tmp
.tmp
zig-out/
zig-out-*/
zig/*.a
zig/*.o

# WASM build artifacts
zig/wasm-build/build/
zig/wasm-build/dist/
.tmp/
lib/crsqlite-zig-darwin-aarch64.dylib
lib/crsqlite-zig-darwin-universal.dylib
lib/crsqlite-zig-darwin-x86_64.dylib
lib/crsqlite-zig-linux-aarch64.so
lib/crsqlite-zig-linux-x86_64.so
