[submodule "core/rs/sqlite-rs-embedded"]
  path = core/rs/sqlite-rs-embedded
	url = https://github.com/vlcn-io/sqlite-rs-embedded.git

[submodule ".refs/bun"]
	path = .refs/bun
	url = https://github.com/oven-sh/bun.git

[submodule ".refs/ghostty"]
	path = .refs/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule ".refs/tigerbeetle"]
	path = .refs/tigerbeetle
	url = git@github.com:tigerbeetle/tigerbeetle.git
[submodule ".refs/zig-sqlite"]
	path = .refs/zig-sqlite
	url = git@github.com:vrischmann/zig-sqlite.git
